include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include tests *
recursive-include chimera/data/ *.annot
recursive-include chimera/data/ *.nii.gz
recursive-include chimera/data/ *.gcs
recursive-include chimera/data/ *.tsv

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif

packages = ['.','data','config','docs'],